<a href="https://colab.research.google.com/github/GNuSeekK/Coding-Test/blob/main/%EC%9D%B4%EA%B2%83%EC%9D%B4_%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DFS/BFS

## 음료수 얼려 먹기
p.149

In [ ]:
N = 4
M = 5

graph = []
for i in range(N):
    graph.append(list(map(int,input())))

def ice(x, y):
    if x >= N or y >= M:
        return False
    if graph[x][y] == 0:
        graph[x][y] = 1
        ice(x+1, y)
        ice(x, y+1)
        return True
    return False

result = 0
for i in range(N):
    for j in range(M):
        if ice(i,j) == True:
            result +=1


ice(0,0)
print(result)

00110
00011
11111
00100
4

## 미로탈출
p.152

In [ ]:
그냥 해설만 봤음

# 정렬

## 두 배열의 원소 교체
p.182

In [ ]:
N, M = map(int, input().split())

array_A = sorted(list(map(int, input().split())))
array_B = sorted(list(map(int, input().split())))

for i in range(M):
    if array_A[i] < array_B[-1 - i]:
        array_A[i], array_B[-1 -i] = array_B[-1 -i], array_A[i]
    else:
        break

print(sum(array_A))

5 3
1 2 5 4 3
5 5 6 6 5
26

## 성적이 낮은 순서로 학생 출력하기
p.180

In [ ]:
N = int(input())

array = []
for _ in range(N):
    input_data = input().split()
    name, score = input_data[0], int(input_data[1])
    array.append(tuple([name, score]))

sorted_array = sorted(array, key = lambda x: x[1])
for data in sorted_array:
    print(data[0], end = ' ')

2
이순신 95
홍길동 77
홍길동 이순신