<a href="https://colab.research.google.com/github/GNuSeekK/Coding-Test/blob/main/%ED%8C%80%EB%85%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코딩테스트 준비 팀노트

# 2차원 리스트 초기화
$N * M$ 행렬

In [1]:
n = 2
m = 3
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0], [0, 0, 0]]

# 리스트 메서드

In [ ]:
list.append()               # O(1)
list.sort()                 # O(NlogN)
list.resverse()             # O(N)  
list.insert(index, value)   # O(N)
list.count()                # O(N)
list.remove()               # O(N)

# 집합(Set) 메서드
시간 복잡도 O(1) => 순서가 없다

In [ ]:
set.add()       # 원소 추가
set.update()    # 원소 여러개 추가
set.remove()    # 원소 삭제

In [8]:
dic = {'a' : 1,
       'b' : 2,
       'c' : 3}

try:
    dic['d']
except KeyError:
    print('없습니다')

없습니다

# 람다 표현식

In [10]:
array = [('홍길동', 50),
         ('이순신', 32),
         ('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key = my_key))
print(sorted(array, key = lambda x: x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [11]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

result = map(lambda a, b: a+b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

# 표준 라이브러리

## 내장함수

### sum()

In [ ]:
# sum()
result = sum([1,2,3,4,5])
print(result)

### min(), max()

In [ ]:
# min(), max()
min_result = min(7,3,5,2)
max_result = max(7,3,5,2)
print(min_result, max_result)

### evel()
> 문자열을 수식 형태로

In [ ]:
# eval()
result = eval('(3+5)*7') # 문자열 형태의 수식을 계산
print(result)

### sorted()

In [ ]:
# sorted()
arr = [9,1,8,5,4]
result = sorted(arr)
reverse_result = sorted(arr, reverse = True)
print(result)
print(reverse_result)

#sorted() with key
array = [('홍길동', 50),
         ('이순신', 32),
         ('아무개', 74)]

print(sorted(array, key = lambda x: x[1]))

### ord() 아스키코드

In [8]:
ord('A')

65

## itertoold
> 반복되는 형태의 데이터를 처리하기 위한 기능 제공</br>순열과 조합 라이브러리는 코테에서 자주 사용

### 순열

In [17]:
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3))
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [23]:
from itertools import product # 중복순열

data = ['A', 'B', 'C']

result = list(product(data, repeat = 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

### 조합

In [20]:
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [25]:
from itertools import combinations_with_replacement # 중복조합

data = ['A', 'B', 'C']

result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

## heapq
> 힙 자료구조 제공</br>우선순위 큐 구현 위해 사용

In [ ]:
from heapq import heappush, heappop

## bisect
>이진탐색 기능 제공

In [ ]:
from bisect import bisect_left, bisect_right

## collections
>덱(deque), 카운터(Counter) 등의 자료구조 포함

### Counter

In [27]:
from collections import Counter
counter = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])

print(counter['blue'])
print(counter['green'])
print(counter['red'])
print(dict(counter))

3
1
2
{'red': 2, 'blue': 3, 'green': 1}

### Queue

In [7]:
from collections import deque

queue = deque()

queue.append(5)
queue.append(2)
queue.append(3)
queue.append(7)
queue.popleft()
queue.append(1)
queue.append(4)
queue.popleft()

print(queue)
queue.reverse()
print(queue)

deque([3, 7, 1, 4])
deque([4, 1, 7, 3])

## math
필수적인 수학적 기능 제공
> 팩토리얼, 제곱근, 최대공약수(GCD), 삼각함수, 파이

### 최소공배수(LCN), 최대공약수(GCD)

In [28]:
import math

#최소 공배수(LCM 구하는 함수)
def lcm(a, b):
    return a * b // math.gcd(a, b)

a = 21
b = 14

print(math.gcd(21, 14))     # 최대 공약수(GCD) 계산
print(lcm(21, 14))          # 최대 공배수(LCM) 계산

7
42

# 계수 정렬 구현

In [ ]:
array = [7, 5, 9, 0, 3, 1, 6, 2, 9, 1, 4, 8, 0, 5, 2]

count = [0] * (max(array) + 1)

for i in range(len(array)):
    count[array[i]] += 1

for i in range(len(count)):
    for j in range(count[i]):
        print(i, end = ' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

# 무한 입력

In [6]:
import sys

info = []
for line in sys.stdin:
    info.append([int(e) for e in line.split()])

65